<div class="container">
  <strong>Edit game session</strong>

  <%= render 'form', gamesession: @game_session %>

  <%= link_to game_sessions_path do %>
    <i class="fa fa-history"></i> Back to Offer
  <% end %>
</div>
