<div class="container">
  <strong>Create a Game Session</strong>

  <%= render 'form', gamesession: @game_session %>

  <%= link_to game_sessions_path do %>
    <i class="fa fa-history"></i> Back to Game Sessions
  <% end %>
</div>
