<section class="hero">
  <div class="overlay">
      <div class="content">
          <div class="neon">PLAYERS</div>
          <div class="flux">4</div>
          <div class="neon">PLAYERS</div>
          <br>
        <h4 class="sub-title">We help you find players around the world to join you in virtual adventures and many hours of fun!!!</h4>
        <%= link_to 'Press to Join', new_user_registration_path, class: 'btn btn-ghost' %>
      </div>
  </div>
</section>
