<%# <div class="container list_session"> %>
  <%# <% @games_session_lists.each do |list| %> %>
    <%# <%= link_to games_session_list_path(list) do %>
      <%# <i class="fas fa-comments"></i> <%= list.chatroom.name %> %>
    <%# <% end %> %>
  <%# <% end %> %>
<%# </div> %> %>
