<div class="nested-fields">
  oi
  <%= f.input :game %>
  <%= f.input :done, as: :boolean %>
  <%#= link_to_remove_association "remove task", f %>
</div>



  <%#= f.association :games, prompt: 'Select a game', input_html: { class: 'select2' } %>
