<div class="container">
  <strong>Edit Games List</strong>

  <%= render 'form', gameslist: @games_list %>

  <%= link_to games_lists_path do %>
    <i class="fa fa-history"></i> Back to Lists
  <% end %>
</div>
