<div class="container flex-container pt-5 pb-5">
  <div style="align-self: center">
    <h3 class="dash-title">Create a new Games list</h3>
  </div>
  <%= render 'form', gameslist: @game_list %>
</div>
