.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4593d3;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}

.btn-ghost {
  color: #e8f7f6;
  border: 1px solid #e8f7f6;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 2;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
