/* .chatroom {
  width: 500px;

  font-size: small;
  background-color: rgba(107, 162, 207, 0.931);
} */

.chatroom {
  background: white;
  height: calc(100vh - 70px);
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $gray-200;
  border-radius: 16px;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }

  p {
    color: rgb(89, 8, 121)
  }

}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 70px - 65px - 71px);
}

#new_message {
  padding: 1rem;
  border-top: 1px solid $gray-200;

  .form-group {
    margin-bottom: 0;
  }
}
