.form-inputs {
    align-self: center;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formbg {
  background: #133A53;
}

.ai {
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
