
h3 {
  font-family: "Catamaran", sans-serif;
  color:rgb(227, 222, 241)
}
.container {
  margin: auto;
}

.Title {
  font-family: "Catamaran", sans-serif;
  color: white;
  cursor: pointer;
  position: relative;

  span.title_hover {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1.5em;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }

  &__underline {
    position: absolute;
    width: auto;
    left: 0;
    bottom: 0.3em;
    height: 3px;
    background-color: #17bdef;
    z-index: 5;
    transition: transform 580ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
  }

  &__highlight {
    position: absolute;
    width: auto;
    bottom: -20;
    left: 0;
    height: 20px;
    background-color: #43ffbe;
    z-index: -1;
    transition: transform 400ms ease;
  }

  &__filled {
    position: absolute;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    top: 0;
    clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
    transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
  }

  &:hover {
    .Title__filled {
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    }
    .Title__underline {
      transform: translateY(-1em);
    }
    .Title__highlight {
      transform: translateY(-2.2em);
    }
  }
}
