.navbar-lewagon {
  justify-content: space-between;
  background: #010e1b;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.font-catamaran {
  font-weight: 800;

}

.navbar-light .navbar-nav .nav-link {
  color: rgba(247, 247, 247, 0.863);

}

.navbar-light .navbar-nav .nav-link :hover{
  color: rgba(133, 106, 106, 0.863);
}
